blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
dulwich==1.1.0
filelock==3.25.2
Flask
Flask-Cors
Flask-SQLAlchemy
gunicorn
moviepy
Pillow
pydub
requests
psycopg
psycopg-binary
SpeechRecognition
stripe
reportlab
Werkzeug
Jinja2
SQLAlchemy
setuptools==81.0.0
six==1.16.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.1
urllib3==2.3.0
