Flask
Flask-Cors
authlib
anthropic
Flask-Migrate
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
Jinja2
cloudinary
psycopg
psycopg-binary
stripe
reportlab
SpeechRecognition
pydub
Pillow
requests
gunicorn
blinker==1.9.0
click==8.3.2
certifi==2025.1.31
charset-normalizer==3.4.1
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.1
urllib3==2.3.0
